.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App--loading {
  background-color: #a00;
}

.characteristics {
  width: 30%;
}
.characteristic {
  display: flex;
}
.characteristic-name {
  width: 80%;
  display: flex;
  justify-content: flex-start;
}
